*.o
*.obj
*.os
*.so
.cache
.godot
.mono
.sconsign.dblite
.vs
addons/distrho/bin

build
build-log.txt
compile_commands.json
src/version_generated.gen.h
src/gen
src/godot_distrho_schema.capnp.cpp
src/godot_distrho_schema.capnp.h
doc_classes/_build
__pycache__
