[submodule "modules/godot"]
	path = modules/godot
	url = https://github.com/nonameentername/godot.git
[submodule "modules/dpf"]
	path = modules/dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "modules/capnproto"]
	path = modules/capnproto
	url = https://github.com/capnproto/capnproto.git
